{% extends 'claims/layout.html' %}

{% block title %}Profile | {% endblock %}

{% block content %}

<div class="container">
    <h1>Profile</h1>
    
    <hr>

    <a href="{% url 'file_claim' %}">File a claim</a>

    <hr>

    <h3>Claim Status</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Claimant Name</th>
                <th scope="col">Status</th>
                <th scope="col">Created At</th>
            </tr>
        </thead>
        {% for claim in claims %}
            <tbody>
                <tr>
                    <th scope="row">{{ claim.id }}</th>
                    <td><a href="{% url 'edit_claim' claim.id %}">{{ claim.full_name }}</a></td>
                    <td>{{ claim.claim_approved|yesno:"Accepted,In Progress" }}</td>
                    <td>{{ claim.created_at }}</td>
                </tr>
            </tbody>
        {% empty %}
            <p>No claim record is available</p>
        {% endfor %}
    </table>

</div>

{% endblock %}